@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffdde2;
    z-index: 99999;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 46%;
    top: 35%;
    background-image: url("https://media.giphy.com/media/STroE7bTBLTzxQUrZc/giphy.gif");
    border-radius: 50%;
    z-index: 9999;
    background-repeat: no-repeat;
    background-position: center;
    margin: -10px 0 0 -36px;
    background-position: unset;
    background-size: contain;
}

.navbar {
    background-color: rgb(230, 80, 92) !important;
}

.navbar-brand {
    color: white;
    margin-left: 1%;
}

.nav-item a {
    font-size: 1.2em;
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.navbar a:hover {
    color: white;
}

#texty {
    color: white;
}

.question {
    background-color: #f1f8ff;
    height: auto;
    display: flex;
    border-left: solid 5px rgb(230, 80, 92);
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.answer {
    background-color: #fffaf0;
    height: auto;
    display: flex;
    border-left: solid 5px #a9a9a9;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.q-span {
    font-size: 5vh;
    color: rgb(230, 80, 92);
}

.q-text {
    font-size: 2vh;
}

.a-span {
    font-size: 5vh;
    color: #a9a9a9;
}

.a-text {
    font-size: 2vh;
    color: #b0b0b8;
}

.col-1,
.col-11 {
    margin: 0 !important;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .a-span {
        font-size: 6vh;
    }
    
}

@media only screen and (max-width: 776px) and (min-width: 568px) {
    .a-span,
    .q-span {
        margin-left: -1% !important;
    }
    .a-text,
    .q-text {
        margin-left: 1% !important;
    }
}

@media only screen and (min-width: 568px) {
    .questions-collapse {
        display: none;
    }
    
}

@media only screen and (max-width: 568px) {
    #status {
        width:150px;
        height:150px;
        left:45%; 
        top:40%; 
  
      }
    #questions {
        display: none;
    }
    h1 {
        font-size: 2.0em !important;
    }
    #more-button {
        width: 100%;
        height: auto;
        border-style: none;
        background: #f1f8ff;
        font-size: 20px;
        cursor: pointer;
    }
    #grow0,
    #grow1,
    #grow2,
    #grow3,
    #grow4,
    #grow5,
    #grow6 {
        background-color: #fffaf0;
        color: #b0b0b8;
        font-weight: bold;
        font-size: 2.5vh;
        -moz-transition: height .5s;
        -ms-transition: height .5s;
        -o-transition: height .5s;
        -webkit-transition: height .5s;
        transition: height .5s;
        height: 0;
        overflow: hidden;
    }
}