@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    overflow-x: hidden;
}

nav.navbar.navbar-light {
    padding: 0px 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffdde2;
    z-index: 99999;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 46%;
    top: 35%;
    background-image: url("https://media.giphy.com/media/STroE7bTBLTzxQUrZc/giphy.gif");
    border-radius: 50%;
    z-index: 9999;
    background-repeat: no-repeat;
    background-position: center;
    margin: -10px 0 0 -36px;
    background-position: unset;
    background-size: contain;
}

.glug_logo {
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0px 0px 20px;
}

.glug_logo1 {
    height: 70px;
    position: absolute;
    /* float: left; */
    top: 0;
    left: 60px;
    padding: 20px 0px 0px 20px;
}
.row.description{
    display: none;
}
.small{
    height: 5vh;
    margin-top: -1%;
    padding-right: 10px;
}
.small1{
    height: 6vh;
    margin-top: -2%;
    padding-right: 10px;
}

.glug_logo2 {
    height: 70px;
    position: absolute;
    /* float: left; */
    top: 0;
    left: 220px;
    padding: 20px 0px 0px 20px;
}
.glug_logo3 {
    height: 70px;
    position: absolute;
    top: 0;
    left: 280px;
    padding: 20px 0px 0px 20px;
}
.responsive {
    width: auto;
    height: 225px;
    margin-left: auto;
    margin-right: auto;
}

.frontend-side {
    background-color: rgb(230, 80, 92);
}

.links {
    font-size: 0.4em;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.links a {
    color: white;
    text-decoration: underline;
}

.links a:hover {
    color: white;
}

.description {
    padding-right: 40px;
    font-size: 0.4em;
    font-weight: bolder;
    margin-bottom: 0 !important;
}

.description1 {
    font-size: 0.4em;
    font-weight: bolder;
}

.contacts .fa {
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: #e6505c;
    font-size: 36px !important;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height: 45px;
}

.fa:hover {
    opacity: 0.7;
}

.split-pane1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    height: 100vh;
    font-size: 2em;
    color: white;
    font-weight: 300;
}

.split-pane {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 2em;
    color: white;
    font-weight: 300;
    padding-left: 3rem !important;
}

.clock {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    font-size: 0.4em;
    background-color: rgba(230, 80, 92, 0.2);
    color: black;
}

#demo {
    padding: 10px;
    color: #e6505c;
}


/* .register {
  margin-top: -6%;
} */

button {
    border-radius: 16px !important;
    border: none !important;
    background-color: white;
}

button a {
    color: #e6505c !important;
    text-decoration: none;
}

button a:hover {
    opacity: 0.7;
    text-decoration: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 2.5rem;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: white;
    /* Add a dark-grey background on hover */
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 38px;
    height: 38px;
    border: 2px solid rgb(230, 80, 92);
    background-color: rgb(230, 80, 92);
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

@media only screen and (max-width: 767px) {
   
    /* .row.description p{
        padding-left: 10%;
    } */
     div.row.short p.description{
        font-size: 2.5vh;
    }

    .split-pane {
        height: 100vh;
    }
    #status {
        width: 150px;
        height: 150px;
        left: 45%;
        top: 40%;
    }
    .reg-btn {
        font-size: 2.8vh !important;
    }
    .container-fluid {
        padding: 0 !important;
        margin: 0 !important;
        overflow: hidden !important;
    }
    .navbar {
        background-color: rgb(230, 80, 92) !important;
        width: 100%;
        padding-bottom: 0px;
    }
    .logo {
        margin-top: -10%;
        padding-left: 10px;
       
       
    }
    img.logo.gfg{
        margin-top: 1px;
    }
    .logo1{
        margin-top: -10%;
        margin-left: 10px;
        padding-left: 10px;
    }
    .glug_logo {
        display: none;
    }
    .glug_logo1 {
        display: none;
    }
    .glug_logo2 {
        display: none;
    }
    .glug_logo3 {
        display: none;
    }
    #main-image {
        margin-top: -25%;
    }
    .clock {
        margin-left: 50px;
        margin-right: 50px;
    }
    .big {
        font-size: 0.9em;
        padding-top: 40px;
        text-align: center;
    }
    .links {
        display: none !important;
    }
    .contacts .fa {
        font-size: 4vh !important;
        height: 5vh;
        width: 5vh;
    }
    .split-pane {
        padding-left: 1rem !important;
    }
    .description {
        padding: 0 15px;
        font-size: 0.4em;
    }
    .description1 {
        margin-top: 8% !important;
        padding-left: 15px;
        font-size: 0.5em;
    }
    .contacts {
        padding-left: 15px;
    }
    .register {
        padding: 25px 15px !important;
    }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
    /* .glug_logo2 {
        left: 25%;
    } */
    div.row.short{
        display: none;
    }
    nav {
        display: none !important;
    }
    .scroll-down {
        display: none;
    }
    .links {
        margin-top: 1rem !important;
        margin-left: -1.5rem !important;
        font-size: 0.5em;
    }
    .register {
        margin-top: -15% !important;
    }
    .reg-btn {
        font-size: 2.6vh !important;
        line-height: 35px;
    }
    .big {
        margin-top: 15%;
        font-size: 4vh !important;
    }
    .description {
        font-size: 2.2vh !important;
        font-weight: bolder;
    }
    .description1 {
        font-size: 2.1vh;
        font-weight: bold;
        margin-top: 8% !important;
    }
    .contacts .fa {
        text-align: center;
        font-size: 3vh !important;
        width: 4vh !important;
        height: 4vh !important;
    }
    .clock {
        margin-left: 20px;
        margin-right: 20px;
    }
    /* .glug_logo1 {
        left: 6.5vw;
    }
    .glug_logo2 {
        left: 27vw;
    } */
}

/* @media only screen and (min-width: 1200px) {
   nav {
    display: none !important;
  }
  
  .contacts .fa {
    font-size: 37px;
  }
  .description {
    font-size: 0.7em;
  }
  .big {
    margin-top: 8rem;
  } 
  .register {
    margin-top: 3rem;
   
  }
  .description1{
    font-size: 0.7em;
    font-weight: bold;
    margin-top: 8% !important;
  }
  .links{
    font-size: 0.6em;
  }
  
} */

@media only screen and (min-width: 992px) {
    div.row.short{
        display: none;
    }
    .contacts .fa {
        font-size: 37px;
    }
    .description {
        font-size: 2.3vh;
    }
    .big {
        margin-top: 15%;
    }
    .reg-btn {
        font-size: 3vh !important;
        /* width: 120px; */
    }
    .register {
        margin-top: -4%;
    }
    .description1 {
        font-size: 2.1vh;
        font-weight: bold;
        margin-top: 8% !important;
    }
    .links {
        font-size: 2.5vh;
    }
    nav {
        display: none !important;
    }
    .scroll-down {
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    div.row.short{
        display: none;
    }
    .reg-btn {
        font-size: 2.6vh !important;
    }
}
