@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

html{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

li.nav-item.mt-2.mt-md-0{
	font-size: 1.22em !important;
}

#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#ffdde2; 
    z-index:99999; 
  }
  #status {
    width:200px;
    height:200px;
    position:absolute;
    left:46%;
    top:35%; 
    background-image:url("https://media.giphy.com/media/STroE7bTBLTzxQUrZc/giphy.gif");
    border-radius: 50%;
    z-index:9999; 
    background-repeat:no-repeat;
    background-position:center;
    margin:-10px 0 0 -36px; 
    background-position: unset;
    background-size: contain;
  }

.navbar {
  background-color:rgb(230,80,92) !important;
 }

.navbar-brand{
  color: white;
  margin-left: 1%;
}
.nav-item a{
  font-size: 0.9em;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.navbar a:hover{
    color: white;
}

#texty{
  font-size: 1.3em;
  color: white;
}
.main-timeline{
    overflow: hidden;
    position: relative;
}
.main-timeline:before{
    content: "";
    width: 6px;
    height: 100%;
    background: rgb(24,35,105);
    position: absolute;
    top: 0;
    left: 50%;
}
.main-timeline .timeline{
    padding-right: 30px;
    position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-timeline .timeline:first-child:before,
.main-timeline .timeline:last-child:before{
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid rgb(24,35,105);
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: -3px;
}
.main-timeline .timeline:last-child:before{
    top: auto;
    bottom: 0;
}
.main-timeline .timeline-icon{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid rgb(230,80,92);
    box-sizing: content-box;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -4px;
}
.main-timeline .timeline-icon:before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #737ab4;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/*year*/
.main-timeline .year{

    padding: 8px 30px;
    margin: 0;
    font-size: 14px;
    color: #fff;
    background: rgb(230,80,92);
    text-align: center;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
}
/*year*/
.main-timeline .year:before{
    content: "";
    border-right: 18px solid rgb(230,80,92);
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    position: absolute;
    top: 0;
    left: -18px;
}
.main-timeline .timeline-content{
    width: 46.5%;
    font-size: 20px;
    background-color:red;
    padding: 10px;
    margin: 0 30px 50px 0;
    background: rgb(236,236,236);
    position: relative;
    font-weight: 200;
    /* font-size: 0.5em; */
}
.main-timeline .timeline-content:after{
    content: "";
    border-left: 20px solid #f2f2f2;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}
.main-timeline .title{
    float: left;
    font-size: 1em;
    font-weight: bold;
    color: #504f54;
    margin:  5px;
}
.main-timeline .post{
    display: inline-block;
    font-size: 14px;
    color: #999;
    margin-top: 6px;
}
.main-timeline .description{
    font-size: 18px;
    color: #7d7b7b;
    line-height: 24px;
    margin: 0;
    clear: both;
}
.main-timeline .timeline:nth-child(2n){ padding: 0 0 0 30px; }
.main-timeline .timeline:nth-child(2n) .year{
    right: auto;
    left: 30%;
}
.main-timeline .timeline:nth-child(2n) .year:before{
    border: 18px solid transparent;
    border-right: none;
    border-left: 18px solid rgb(230,80,92);
    left: auto;
    right: -18px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content{
    float: right;
    margin: 0 0 0 20px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content:after{
    border-left: none;
    border-right: 20px solid #f2f2f2;
    right: auto;
    left: -20px;
}
@media only screen and (max-width: 1200px){
    .main-timeline .year{ right: 26%; }
    .main-timeline .timeline:nth-child(2n) .year{ left: 26%; }
}
@media only screen and (max-width: 990px){
    .main-timeline .year{ right: 16%; }
    .main-timeline .timeline:nth-child(2n) .year{ left: 16%; }
}
@media only screen and (max-width: 767px){
    .main-timeline:before{ left: 10px; }
    .main-timeline .timeline{
        padding: 0 0 0 30px;
        margin-bottom: 20px;
    }
    .main-timeline .timeline:last-child{ margin-bottom: 0; }
    .main-timeline .timeline:first-child:before,
    .main-timeline .timeline:last-child:before{ display: none; }
    .main-timeline .timeline-icon{
        margin: 0;
        position: absolute;
        top: 7px;
        left: 0;
    }
    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year{
        display: block;
        font-weight: bold;
        margin: 0 0 20px 30px;
        z-index: 1;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        transform: none;
    }
    .main-timeline .timeline:nth-child(2n) .year:before{
        border-left: none;
        border-right: 18px solid rgb(230,80,92);
        right: auto;
        left: -18px;
    }
    .main-timeline .timeline-content{ padding: 20px; }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content{
        width: auto;
        float: none;
        margin: 0 0 0 30px;
    }
    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(2n) .timeline-content:after{
        border: none;
        border-bottom: 20px solid #f2f2f2;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        top: -20px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 767px) {

    #status {
      width:150px;
      height:150px;
      left:45%; 
      top:40%; 
  
    }
}
@media only screen and (max-width: 480px){

    #status {
        width:150px;
        height:150px;
        left:45%; 
        top:40%; 
  
      }

    .main-timeline .title{
        float: none;
        margin: 0;
    }
    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year{ margin-left: 20px; }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content{ margin-left: 10px; }
    .main-timeline .post{ margin: 5px 0; }
}
.logo1 {
    position: fixed;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    z-index: 100;
}

@media only screen and (max-width: 767px) {
    .logo1 {
        position: fixed;
        left: 15px;
        width: 40px;
        height: 40px;
        z-index: 100;
        margin-left: 90px;
    }
}

@media only screen and (max-width: 568px) {
    .logo1 {
        position: fixed;
        left: 0px;
        width: 40px;
        height: 40px;
        z-index: 100;
        margin-left: 5px;
    }
}

@media only screen and (min-width: 570px) and (max-width: 735px) {
    .logo1 {
        display: none;
    }
}